<div
  class="elementor-element elementor-element-30b5415 e-con-full e-flex e-con e-parent e-lazyloaded"
  data-id="30b5415"
  data-element_type="container"
>
  <div
    class="elementor-element elementor-element-2ee63a1 elementor-widget elementor-widget-heading"
    data-id="2ee63a1"
    data-element_type="widget"
    data-widget_type="heading.default"
  >
    <div class="elementor-widget-container">
      <p class="elementor-heading-title elementor-size-default">
        Quality Meats
      </p>
    </div>
  </div>
  <div
    class="elementor-element elementor-element-bb8cc4f elementor-widget__width-initial elementor-widget elementor-widget-heading"
    data-id="bb8cc4f"
    data-element_type="widget"
    data-widget_type="heading.default"
  >
    <div class="elementor-widget-container">
      <h2 class="elementor-heading-title elementor-size-default">
        Affordable meat products
      </h2>
    </div>
  </div>
  <div
    class="elementor-element elementor-element-15540c8 overflow-to-both elementor-pagination-position-outside elementor-widget elementor-widget-meatlers-products e-widget-swiper"
    data-id="15540c8"
    data-element_type="widget"
    data-settings='{"slides_to_show":"6","navigation":"dots","slides_to_show_laptop":"5","slides_to_show_tablet_extra":"4","slides_to_show_tablet":"3","spaceBetween_laptop":{"unit":"px","size":30,"sizes":[]},"spaceBetween_tablet_extra":{"unit":"px","size":30,"sizes":[]},"spaceBetween_tablet":{"unit":"px","size":30,"sizes":[]},"slides_to_show_mobile":"2","spaceBetween_mobile":{"unit":"px","size":15,"sizes":[]},"swiper_overflow":"both","spaceBetween":{"unit":"px","size":30,"sizes":[]},"spaceBetween_mobile_extra":{"unit":"px","size":"","sizes":[]},"navigation_type":"bullets","enable_scrollbar":"no","allowTouchMove":"yes","autoplay":"yes","pause_on_hover":"yes","pause_on_interaction":"yes","autoplay_speed":5000,"infinite":"yes","speed":500}'
    data-widget_type="meatlers-products.default"
  >
    <div class="elementor-widget-container">
      <div class="meatlers-products-wrapper">
        <div
          class="woocommerce columns-1 woocommerce-product-grid meatlers-swiper swiper swiper-horizontal swiper-initialized swiper-pointer-events swiper-watch-progress"
        >
          <ul
            class="products meatlers-products swiper-wrapper columns-1"
            id="swiper-wrapper-6573d8210959c9e56"
            aria-live="off"
            style="
              transform: translate3d(-1841.33px, 0px, 0px);
              transition-duration: 0ms;
            "
          >
            <li
              class="swiper-slide product-style-default product type-product post-102 status-publish first instock product_cat-beef-steak product_tag-beef product_tag-meatbox has-post-thumbnail sale shipping-taxable purchasable product-type-simple swiper-slide-duplicate"
              data-swiper-slide-index="0"
              role="group"
              aria-label="1 / 6"
              style="width: 200.167px; margin-right: 30px"
            >
              <div class="product-block">
                <div class="product-transition">
                  <div class="product-labels">
                    <span class="product-label onsale">Sale 41%</span>
                  </div>
                  <div class="product-image image-main">
                    <img
                      loading="lazy"
                      decoding="async"
                      width="300"
                      height="300"
                      src="https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_24-300x300.jpg"
                      class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                      alt=""
                      srcset="
                        https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_24-300x300.jpg 300w,
                        https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_24-100x100.jpg 100w,
                        https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_24-600x600.jpg 600w,
                        https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_24-150x150.jpg 150w,
                        https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_24-768x768.jpg 768w,
                        https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_24.jpg         900w
                      "
                      sizes="(max-width: 300px) 100vw, 300px"
                    />
                  </div>
                  <a
                    href="https://demo2.wpopal.com/meatlers/shop/sirloin-steaks/"
                    class="woocommerce-LoopProduct-link woocommerce-loop-product__link"
                  >
                  </a>
                  <div class="tooltip-left group-action">
                    <div class="shop-action">
                      <button
                        class="woosw-btn woosw-btn-102"
                        data-id="102"
                        data-product_name="Sirloin Steaks"
                        data-product_image="https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_24-150x150.jpg"
                        aria-label="Add to wishlist"
                      >
                        Add to wishlist</button
                      ><button
                        class="woosc-btn woosc-btn-102"
                        data-id="102"
                        data-product_name="Sirloin Steaks"
                        data-product_image="https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_24-150x150.jpg"
                      >
                        Compare</button
                      ><button
                        class="woosq-btn woosq-btn-102"
                        data-id="102"
                        data-effect="mfp-3d-unfold"
                        data-context="default"
                      >
                        Quick view
                      </button>
                      <div class="opal-add-to-cart">
                        <a
                          href="?add-to-cart=102"
                          data-quantity="1"
                          class="button product_type_simple add_to_cart_button ajax_add_to_cart"
                          data-product_id="102"
                          data-product_sku="sirloin-steaks-86390217"
                          aria-label="Add to cart: “Sirloin Steaks”"
                          rel="nofollow"
                          data-success_message="“Sirloin Steaks” has been added to your cart"
                          >Add to cart</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-caption">
                  <h3 class="woocommerce-loop-product__title">
                    <a
                      href="https://demo2.wpopal.com/meatlers/shop/sirloin-steaks/"
                      >Sirloin Steaks</a
                    >
                  </h3>
                  <span class="price"
                    ><del aria-hidden="true"
                      ><span class="woocommerce-Price-amount amount"
                        ><bdi
                          ><span class="woocommerce-Price-currencySymbol"
                            >$</span
                          >178.43</bdi
                        ></span
                      ></del
                    >
                    <span class="screen-reader-text"
                      >Original price was: $178.43.</span
                    ><ins aria-hidden="true"
                      ><span class="woocommerce-Price-amount amount"
                        ><bdi
                          ><span class="woocommerce-Price-currencySymbol"
                            >$</span
                          >105.01</bdi
                        ></span
                      ></ins
                    ><span class="screen-reader-text"
                      >Current price is: $105.01.</span
                    ></span
                  >
                </div>
              </div>
            </li>
            <li
              class="swiper-slide product-style-default product type-product post-100 status-publish first instock product_cat-beef-steak product_tag-meatbox has-post-thumbnail featured shipping-taxable purchasable product-type-simple swiper-slide-duplicate swiper-slide-duplicate-prev"
              data-swiper-slide-index="1"
              role="group"
              aria-label="2 / 6"
              style="width: 200.167px; margin-right: 30px"
            >
              <div class="product-block">
                <div class="product-transition">
                  <div class="product-labels"></div>
                  <div class="product-image image-main">
                    <img
                      loading="lazy"
                      decoding="async"
                      width="300"
                      height="300"
                      src="https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_23-300x300.jpg"
                      class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                      alt=""
                      srcset="
                        https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_23-300x300.jpg 300w,
                        https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_23-100x100.jpg 100w,
                        https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_23-600x600.jpg 600w,
                        https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_23-150x150.jpg 150w,
                        https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_23-768x768.jpg 768w,
                        https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_23.jpg         900w
                      "
                      sizes="(max-width: 300px) 100vw, 300px"
                    />
                  </div>
                  <a
                    href="https://demo2.wpopal.com/meatlers/shop/hand-cut-beef-fillet-steaks/"
                    class="woocommerce-LoopProduct-link woocommerce-loop-product__link"
                  >
                  </a>
                  <div class="tooltip-left group-action">
                    <div class="shop-action">
                      <button
                        class="woosw-btn woosw-btn-100"
                        data-id="100"
                        data-product_name="Hand cut Beef Fillet Steaks"
                        data-product_image="https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_23-150x150.jpg"
                        aria-label="Add to wishlist"
                      >
                        Add to wishlist</button
                      ><button
                        class="woosc-btn woosc-btn-100"
                        data-id="100"
                        data-product_name="Hand cut Beef Fillet Steaks"
                        data-product_image="https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_23-150x150.jpg"
                      >
                        Compare</button
                      ><button
                        class="woosq-btn woosq-btn-100"
                        data-id="100"
                        data-effect="mfp-3d-unfold"
                        data-context="default"
                      >
                        Quick view
                      </button>
                      <div class="opal-add-to-cart">
                        <a
                          href="?add-to-cart=100"
                          data-quantity="1"
                          class="button product_type_simple add_to_cart_button ajax_add_to_cart"
                          data-product_id="100"
                          data-product_sku="hand-cut-beef-fillet-steaks-71468969"
                          aria-label="Add to cart: “Hand cut Beef Fillet Steaks”"
                          rel="nofollow"
                          data-success_message="“Hand cut Beef Fillet Steaks” has been added to your cart"
                          >Add to cart</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-caption">
                  <h3 class="woocommerce-loop-product__title">
                    <a
                      href="https://demo2.wpopal.com/meatlers/shop/hand-cut-beef-fillet-steaks/"
                      >Hand cut Beef Fillet Steaks</a
                    >
                  </h3>
                  <span class="price"
                    ><span class="woocommerce-Price-amount amount"
                      ><bdi
                        ><span class="woocommerce-Price-currencySymbol">$</span
                        >353.73</bdi
                      ></span
                    ></span
                  >
                </div>
              </div>
            </li>
            <li
              class="swiper-slide product-style-default product type-product post-98 status-publish first instock product_cat-beef-steak product_cat-pork-ribs product_tag-food has-post-thumbnail sale shipping-taxable purchasable product-type-simple swiper-slide-duplicate swiper-slide-duplicate-active"
              data-swiper-slide-index="2"
              role="group"
              aria-label="3 / 6"
              style="width: 200.167px; margin-right: 30px"
            >
              <div class="product-block">
                <div class="product-transition">
                  <div class="product-labels">
                    <span class="product-label onsale">Sale 19%</span>
                  </div>
                  <div class="product-image image-main">
                    <img
                      loading="lazy"
                      decoding="async"
                      width="300"
                      height="300"
                      src="https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_22-300x300.jpg"
                      class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                      alt=""
                      srcset="
                        https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_22-300x300.jpg 300w,
                        https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_22-100x100.jpg 100w,
                        https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_22-600x600.jpg 600w,
                        https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_22-150x150.jpg 150w,
                        https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_22-768x768.jpg 768w,
                        https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_22.jpg         900w
                      "
                      sizes="(max-width: 300px) 100vw, 300px"
                    />
                  </div>
                  <a
                    href="https://demo2.wpopal.com/meatlers/shop/beef-short-ribs/"
                    class="woocommerce-LoopProduct-link woocommerce-loop-product__link"
                  >
                  </a>
                  <div class="tooltip-left group-action">
                    <div class="shop-action">
                      <button
                        class="woosw-btn woosw-btn-98"
                        data-id="98"
                        data-product_name="Beef Short Ribs"
                        data-product_image="https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_22-150x150.jpg"
                        aria-label="Add to wishlist"
                      >
                        Add to wishlist</button
                      ><button
                        class="woosc-btn woosc-btn-98"
                        data-id="98"
                        data-product_name="Beef Short Ribs"
                        data-product_image="https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_22-150x150.jpg"
                      >
                        Compare</button
                      ><button
                        class="woosq-btn woosq-btn-98"
                        data-id="98"
                        data-effect="mfp-3d-unfold"
                        data-context="default"
                      >
                        Quick view
                      </button>
                      <div class="opal-add-to-cart">
                        <a
                          href="?add-to-cart=98"
                          data-quantity="1"
                          class="button product_type_simple add_to_cart_button ajax_add_to_cart"
                          data-product_id="98"
                          data-product_sku="beef-short-ribs-13973667"
                          aria-label="Add to cart: “Beef Short Ribs”"
                          rel="nofollow"
                          data-success_message="“Beef Short Ribs” has been added to your cart"
                          >Add to cart</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-caption">
                  <h3 class="woocommerce-loop-product__title">
                    <a
                      href="https://demo2.wpopal.com/meatlers/shop/beef-short-ribs/"
                      >Beef Short Ribs</a
                    >
                  </h3>
                  <span class="price"
                    ><del aria-hidden="true"
                      ><span class="woocommerce-Price-amount amount"
                        ><bdi
                          ><span class="woocommerce-Price-currencySymbol"
                            >$</span
                          >444.01</bdi
                        ></span
                      ></del
                    >
                    <span class="screen-reader-text"
                      >Original price was: $444.01.</span
                    ><ins aria-hidden="true"
                      ><span class="woocommerce-Price-amount amount"
                        ><bdi
                          ><span class="woocommerce-Price-currencySymbol"
                            >$</span
                          >360.95</bdi
                        ></span
                      ></ins
                    ><span class="screen-reader-text"
                      >Current price is: $360.95.</span
                    ></span
                  >
                </div>
              </div>
            </li>
            <li
              class="swiper-slide product-style-default product type-product post-96 status-publish first outofstock product_cat-chicken-legs product_cat-pork-ribs product_tag-food product_tag-lamb has-post-thumbnail shipping-taxable purchasable product-type-simple swiper-slide-duplicate swiper-slide-duplicate-next"
              data-swiper-slide-index="3"
              role="group"
              aria-label="4 / 6"
              style="width: 200.167px; margin-right: 30px"
            >
              <div class="product-block">
                <div class="product-transition">
                  <div class="product-labels"></div>
                  <div class="product-image image-main">
                    <img
                      loading="lazy"
                      decoding="async"
                      width="300"
                      height="300"
                      src="https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_21-300x300.jpg"
                      class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                      alt=""
                      srcset="
                        https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_21-300x300.jpg 300w,
                        https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_21-100x100.jpg 100w,
                        https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_21-600x600.jpg 600w,
                        https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_21-150x150.jpg 150w,
                        https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_21-768x768.jpg 768w,
                        https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_21.jpg         900w
                      "
                      sizes="(max-width: 300px) 100vw, 300px"
                    />
                  </div>
                  <a
                    href="https://demo2.wpopal.com/meatlers/shop/bone-in-ribeye-steak/"
                    class="woocommerce-LoopProduct-link woocommerce-loop-product__link"
                  >
                  </a>
                  <div class="tooltip-left group-action">
                    <div class="shop-action">
                      <button
                        class="woosw-btn woosw-btn-96"
                        data-id="96"
                        data-product_name="Bone-in Ribeye Steak"
                        data-product_image="https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_21-150x150.jpg"
                        aria-label="Add to wishlist"
                      >
                        Add to wishlist</button
                      ><button
                        class="woosc-btn woosc-btn-96"
                        data-id="96"
                        data-product_name="Bone-in Ribeye Steak"
                        data-product_image="https://demo2.wpopal.com/meatlers/wp-content/uploads/2024/12/product_21-150x150.jpg"
                      >
                        Compare</button
                      ><button
                        class="woosq-btn woosq-btn-96"
                        data-id="96"
                        data-effect="mfp-3d-unfold"
                        data-context="default"
                      >
                        Quick view
                      </button>
                      <div class="opal-add-to-cart">
                        <a
                          href="https://demo2.wpopal.com/meatlers/shop/bone-in-ribeye-steak/"
                          data-quantity="1"
                          class="button product_type_simple"
                          data-product_id="96"
                          data-product_sku="bone-in-ribeye-steak-04846260"
                          aria-label="Read more about “Bone-in Ribeye Steak”"
                          rel="nofollow"
                          data-success_message=""
                          >Read more</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-caption">
                  <h3 class="woocommerce-loop-product__title">
                    <a
                      href="https://demo2.wpopal.com/meatlers/shop/bone-in-ribeye-steak/"
                      >Bone-in Ribeye Steak</a
                    >
                  </h3>
                  <span class="price"
                    ><span class="woocommerce-Price-amount amount"
                      ><bdi
                        ><span class="woocommerce-Price-currencySymbol">$</span
                        >994.83</bdi
                      ></span
                    ></span
                  >
                </div>
              </div>
            </li>
          </ul>
          <span
            class="swiper-notification"
            aria-live="assertive"
            aria-atomic="true"
          ></span>
        </div>
      </div>
      <div
        class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"
      >
        <span
          class="swiper-pagination-bullet"
          tabindex="0"
          role="button"
          aria-label="Go to slide 1"
        ></span
        ><span
          class="swiper-pagination-bullet"
          tabindex="0"
          role="button"
          aria-label="Go to slide 2"
        ></span
        ><span
          class="swiper-pagination-bullet swiper-pagination-bullet-active"
          tabindex="0"
          role="button"
          aria-label="Go to slide 3"
          aria-current="true"
        ></span
        ><span
          class="swiper-pagination-bullet"
          tabindex="0"
          role="button"
          aria-label="Go to slide 4"
        ></span
        ><span
          class="swiper-pagination-bullet"
          tabindex="0"
          role="button"
          aria-label="Go to slide 5"
        ></span
        ><span
          class="swiper-pagination-bullet"
          tabindex="0"
          role="button"
          aria-label="Go to slide 6"
        ></span>
      </div>
    </div>
  </div>
</div>
