@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* 
h2, h3, h4, h5, h6, button{
  font-family: 'Lato', sans-serif !important;
}
body, p, span, a, li, div{
  font-family: 'Lato', sans-serif;
}
code, pre{
  font-family: 'Lato', sans-serif;
} */
h1{
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
}
body{
  background: white !important;
}
body > h2,h3,h4,h5{
    font-family: 'Barlow', sans-serif;
}
.keep-relative-scroll{
  position: relative !important;
}
.keep-sticky{
  position: sticky !important;
  top: 10px !important;
}
p .english-font{
  font-family: 'Lato', sans-serif ;
}
.cute-font{
  font-family:"Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}
.category .swiper, .testimonial .swiper {
  overflow-y: visible !important;
}

.category .swiper-wrapper {
  overflow-y: visible !important;
  padding: 2rem 0rem;
}
.testimonial .swiper-wrapper{
  overflow-y: visible !important;
  padding: 3rem 1rem;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bestseller .swiper-pagination {
  margin-top: 30px; /* adjust spacing */
}
.animate-spin-slow {
  animation: spin-slow 10s linear infinite; /* Adjust duration as needed */
}


@keyframes floatRotate {
  0%, 100% {
    transform: translateY(3px) rotate(-2deg);
  }
  25% {
    transform: translateY(-8px) rotate(-1.7deg);
  }
  50% {
    transform: translateY(3px) rotate(-1deg);
  }
  75% {
    transform: translateY(-8px) rotate(1.7deg);
  }
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.float-rotate-slow {
  animation: float 6s ease-in-out infinite;
}

.float-rotate-delay {
  animation: float 5s ease-in-out infinite;
  animation-delay: 2.5s;
}