.banner-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 3%;
  }
  
  .banner-card {
    position: relative;
    overflow: hidden;
  }
  
  .banner-bg {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: transform 0.6s ease-in-out;
  }


/* Left banner hover (first card) */
.banner-card:nth-child(1) .banner-bg:hover {
    transform: scale(1.10) translateX(-30px); /* zoom + move left */
  }
  
  /* Right banner hover (second card) */
  .banner-card:nth-child(2) .banner-bg:hover {
    transform: scale(1.10) translateX(30px); /* zoom + move right */
  }
  
  
  .banner-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
  }
  
  .banner-content {
    position: absolute;
    right:15%;
    top: 20%;
    color: #fff;
    max-width: 400px;
    text-align: right;
  }
  
  .banner-content.right {
    left: 15%;
    right: 40px;
    text-align: left;
  }
  
  .banner-title {
    font-size: 3.2rem;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 12px;
    text-transform: uppercase;
  }
  
  .banner-desc {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    max-width: 220px;
    text-align: right;
    margin-left: auto; 
  }
  .banner-content.right .banner-desc {
    text-align: left;
    margin-left: 0;
    margin-right: auto; /* push to left edge */
  }
  
  
  .banner-price {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .banner-btn {
    background: #b41f25;
    border: none;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    display:flex;
    gap: 5px;
    align-items: center;
    justify-content: end;
  }
  .banner-btn.left{
    margin-left: auto;
  }
  
  .banner-btn:hover {
    background: #94171d;
  }
  
  /* Tablet */
@media (max-width: 992px) {
  .banner-section {
    grid-template-columns: 1fr; /* stack vertically */
  }

  .banner-bg {
    height: 70vh; /* reduce height */
  }

  .banner-content {
    top: 15%;
    right: 10%;
    max-width: 80%;
  }

  .banner-content.right {
    left: 10%;
    right: auto;
  }

  .banner-title {
    font-size: 2.2rem;
  }

  .banner-desc {
    font-size: 1rem;
    text-align: center;
    margin: 0 auto 10px;
  }

  .banner-price {
    font-size: 18px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .banner-bg {
    height: 120vh;
  }

  .banner-content {
    top: 24%;
    max-width: 90%;
    text-align: right;
  }

  .banner-title {
    font-size:2.5rem;
    font-weight: 800;
  }

  .banner-desc {
    font-size: 1.4rem;
    max-width: 70%;
    text-align: right;
    margin: 20px 0 20px auto;
    font-weight: 700;

  }

  .banner-price {
    font-size: 1.4rem;
  }

  .banner-btn {
    font-size: 14px;
    border-radius: 30px;
    padding: 8px 16px;
  }
}
